.env
vendor
packages/orange/bin/.phpunit.result.cache
packages/peel/asset/bin/.phpunit.result.cache
.gitignore
.phpunit.cache
_testing
var/cache
var/downloads
var/logs
var/read
var/sessions
var/uploads
var/write
.vscode
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
~/.vscode/**
slice/node_modules/*
slice2/node_modules/*
slice_/*
